{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'user_icon.png' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="POST">
        {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
      {% for message in messages %}
        <span>{{message}}</span>
      {% endfor %}
    </div>

  </div>
</div>